ch1.aux
ch1.log
ch1.ltx.aux
ch2.aux
ch2.log
ch2.ltx.aux
ch3.aux
ch3.log
ch3.txt.aux
ch4.aux
ch4.log
ch4.txt.aux
ch5.aux
ch5.log
ch6.aux
ch6.log
ch7.aux
ch7.log
ch8.aux
ch8.log
ch9.aux
ch9.log
ch10.aux
ch10.log
ch11.aux
ch11.log
ch12.aux
ch12.log
ch13.aux
ch13.log
ch14.aux
ch14.log
ch15.aux
ch15.log
ch16.aux
ch16.log
ch17.aux
ch17.log
ch18.aux
ch18.log
ch19.aux
ch19.log
ch20.aux
ch20.log
ch21.aux
ch21.log
ch22.aux
ch22.log
ch23.aux
ch23.log
ch24.aux
ch24.log
book1.aux
book1.log
book1.synctex.gz
book1.toc
book2.aux
book2.log
book2.synctex.gz
book2.toc

