ch1.aux
ch1.log
ch1.ltx.aux
ch2.aux
ch2.log
ch2.ltx.aux
ch3.aux
ch3.log
ch3.txt.aux
ch4.aux
ch4.log
ch4.txt.aux
ch5.aux
ch5.log
ch6.aux
ch6.log
ch7.aux
ch7.log
ch8.aux
ch8.log
ch9.aux
ch9.log
ch10.aux
ch10.log
ch11.aux
ch11.log
main.aux
main.log
main.synctex.gz
main.toc

